body {
    background-color:#d3cbc5;
    text-align: center;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    margin: 0;
}

#sketch-container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 90vh;           /* Sets container to full screen height */
  width: 100%;
}

@font-face {
    font-family: 'Ink';
    src: url(Splatink_PERSONAL_USE_ONLY.otf);
}

@font-face {
    font-family: 'Riff';
    src: url(Next\ Ups.ttf);
}

h1 {
    background-color: #371b3f;
    color:white;
    margin-top: 0;
    font-size: 50px;
}

.Ink {
    color: #d16e1c;
    font-family: Ink;
}

.Riff {
    color: #e90d32;
    font-family: Riff;
}